<h1>Listing servers</h1>

<div class="table-responsive">
  <table class="servers">
    <tr>
      <th>Name</th>
      <th>EOL</th>
      <th>Uri</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @servers.each do |server| %>
    <tr>
      <td><%= server.name %></td>
      <td><%= server.eol_date %></td>
      <td><%= server.uri %></td>
      <td><%= server.ordinal %></td>
      <td><%= link_to '↑', {controller: 'servers', id: server.id, action: :moveup}, method: :post %></td>
      <td><%= link_to '↓', {controller: 'servers', id: server.id, action: :movedown}, method: :post %></td>
      <td><%= link_to 'Show', server %></td>
      <td><%= link_to 'Edit', edit_server_path(server) %></td>
      <td><%= link_to 'Destroy', server, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
  </table>
</div>

<br />

<%= link_to 'New Server', new_server_path %>
