<h1>Listing servers</h1>

<table class="servers">
  <tr>
    <th>Name</th>
    <th>Arch</th>
    <th>OS</th>
    <th>Version</th>
    <th>Uri</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @servers.each do |server| %>
  <tr>
    <td><%= server.name %></td>
    <td><%= server.arch %></td>
    <td><%= server.os %></td>
    <td><%= server.version %></td>
    <td><%= server.uri %></td>
    <td><%= link_to 'Show', server %></td>
    <td><%= link_to 'Edit', edit_server_path(server) %></td>
    <td><%= link_to 'Destroy', server, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Server', new_server_path %>
