<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @server.name %>
</p>

<p>
  <b>EOL:</b>
  <%= @server.eol_date %>
</p>

<p>
  <b>Uri:</b>
  <%= @server.uri %>
</p>


<%= link_to 'Edit', edit_server_path(@server) %> |
<%= link_to 'Back', servers_path %>
