<h1>Listing reports</h1>

<table id="reports">
  <tr>
    <th>Server</th>
    <th>Datetime</th>
    <th>Branch</th>
    <th>Revision</th>
    <th>Summary</th>
    <th>Diff</th>
  </tr>

<% ENV['TZ'] = 'JST-9' %>
<% @reports.each do |report| %>
  <tr>
    <td><%= report.server.name %></td>
    <td><%= link_to report.datetime.localtime, report.loguri %></td>
    <td><%= report.branch %></td>
    <td><%= report.revision %></td>
    <td><%= report.shortsummary %></td>
    <td><%= link_to report.diffstat, report.diffuri %></td>
  </tr>
<% end %>
</table>
