<table class="reports table table-striped table-bordered">
  <thead>
    <tr>
      <th>Server</th>
      <th>Datetime</th>
      <th>Branch</th>
      <th>Option</th>
      <th>Revision</th>
      <th>test</th>
      <th>test-all</th>
      <th>rubyspec</th>
      <th>Summary</th>
      <th>Diff</th>
    </tr>
  </thead>

  <tbody>
    <% curbr = nil; now = Time.now.to_i %>
    <% @reports.each do |report| %>
      <%
        d = now - report.datetime.to_i
        style = nil
        if d > 10000
          style = %[ style="opacity:#{Math.log(Math::E, d/3600)}"]
        end
        meta = report.meta
        failuri = meta ? meta['compressed_failhtml_relpath'] : report.loguri
      %>
      <tr class="<%= 'branch-separator' if curbr != report.branch %>"<%=raw style%>>
        <td class="server"><%= report.server.name %></td>
        <td class="datetime"><%= link_to report.sjstdt, report.loguri, title: report.jstdt %></td>
        <td class="branch"><%= link_to report.branch, report.recenturi %></td>
        <td class="option"><%= report.option %></td>
        <td class="revision"><%= report.patchlevel + " " if report.patchlevel %><%= report.revision %></td>
        <% if report.build %>
          <td  class="build" colspan="3"><%= report.build %></td>
        <% else %>
          <td class="test"><%= report.test %></td>
          <td class="testall"><%= report.testall %></td>
          <td class="rubyspecc"><%= report.rubyspec %></td>
        <% end %>
        <% if /success / =~ report.summary %>
          <td class="summary"><div><%= link_to report.shortsummary, failuri, title: report.shortsummary %></div></td>
        <% else %>
          <td class="summary failure"><div><%= link_to report.shortsummary, failuri, title: report.shortsummary %></div></td>
        <% end %>
        <td class="diff"><div><%= link_to report.diffstat, report.diffuri, title: report.diffstat %></div></td>
      </tr>
      <% curbr = report.branch %>
    <% end %>
  </tbody>
</table>

<dl class="dl-horizontal">
  <dt>F</dt>      <dd><span class="label label-important">failure</span></dd>
  <dt>E</dt>      <dd><span class="label label-important">error</span></dd>
  <dt>S</dt>      <dd><span class="label label-info">skip</span></dd>
  <dt>failed</dt> <dd><span class="label label-important">critical failures</span></dd>
</dl>

<div class="alert alert-info">
  see also <a href="http://ci.rubyinstaller.org/">CI@RubyInstaller</a>,
  <a href="http://blade.nagaokaut.ac.jp/cgi-bin/scat.rb/ruby/ruby-core/46564">[ruby-core:46564]</a>,
  <a href="http://ci.hsbt.org/">ci.hsbt.org</a>,
  and <a href="http://www.narihiro.info/crubybenci/">CRuby Benchmark CI</a>.
</div>
