<h1>Listing reports</h1>

<table class="reports">
  <tr>
    <th>Server</th>
    <th>Datetime</th>
    <th>Branch</th>
    <th>Revision</th>
    <th>build</th>
    <th>btest</th>
    <th>test</th>
    <th>test-all</th>
    <th>rubyspec</th>
    <th>Summary</th>
    <th>Diff</th>
  </tr>

<% ENV['TZ'] = 'JST-9' %>
<% @reports.each do |report| %>
  <tr>
    <td class="server"><%= report.server.name %></td>
    <td class="datetime"><%= link_to report.dt, report.loguri, title: report.jstdt %></td>
    <td class="branch"><%= report.branch %></td>
    <td class="revision"><%= report.revision %></td>
    <% if report.build %>
      <td  class="build" colspan="5"><%= report.build %></td>
    <% else %>
      <td class="build"><%= report.build %></td>
      <td class="btest"><%= report.btest %></td>
      <td class="test"><%= report.test %></td>
      <td class="testall"><%= report.testall %></td>
      <td class="rubyspecc"><%= report.rubyspec %></td>
    <% end %>
    <% if /success/ =~ report.summary %>
      <td class="summary"><div><%= link_to report.shortsummary, report.loguri, title: report.shortsummary %></div></td>
    <% else %>
      <td class="summary failure"><div><%= link_to report.shortsummary, report.loguri, title: report.shortsummary %></div></td>
    <% end %>
    <td class="diff"><div><%= link_to report.diffstat, report.diffuri, title: report.diffstat %></div></td>
  </tr>
<% end %>
</table>

<ul>
  <li>F: failure</li>
  <li>E: error</li>
  <li>S: skip</li>
  <li>failed: critical failure</li>
</ul>
