<h1>Ruby CI</h1>

<p>
<% if action_name == 'current' %>
current
<a href="/reports">reports</a>
<% else %>
<a href="/">latest</a>
reports
<% end %>
</p>

<table class="reports">
  <tr>
    <th>Server</th>
    <th>Datetime</th>
    <th>Branch</th>
    <th>Revision</th>
    <th>test</th>
    <th>test-all</th>
    <th>rubyspec</th>
    <th>Summary</th>
    <th>Diff</th>
  </tr>

<% @reports.each do |report| %>
  <tr>
    <td class="server"><%= report.server.name %></td>
    <td class="datetime"><%= link_to report.sjstdt, report.loguri, title: report.jstdt %></td>
    <td class="branch"><%= link_to report.branch, report.server.recent_uri(report.branch) %></td>
    <td class="revision"><%= report.revision %></td>
    <% if report.build %>
      <td  class="build" colspan="3"><%= report.build %></td>
    <% else %>
      <td class="test"><%= report.test %></td>
      <td class="testall"><%= report.testall %></td>
      <td class="rubyspecc"><%= report.rubyspec %></td>
    <% end %>
    <% if /success / =~ report.summary %>
      <td class="summary"><div><%= link_to report.shortsummary, report.loguri, title: report.shortsummary %></div></td>
    <% else %>
      <td class="summary failure"><div><%= link_to report.shortsummary, report.loguri, title: report.shortsummary %></div></td>
    <% end %>
    <td class="diff"><div><%= link_to report.diffstat, report.diffuri, title: report.diffstat %></div></td>
  </tr>
<% end %>
</table>

<ul>
  <li>F: failure</li>
  <li>E: error</li>
  <li>S: skip</li>
  <li>failed: critical failure</li>
</ul>

<p>see also <a href="http://ci.rubyinstaller.org/">CI@RubyInstaller</a> <a href="http://blade.nagaokaut.ac.jp/cgi-bin/scat.rb/ruby/ruby-core/46564">[ruby-core:46564]</a>.
<p>Powered by <a href="http://cvs.m17n.org/viewcvs/ruby/chkbuild/">chkbuild</a>, <a href="http://dream.jp/vps/perfect/">DTI</a>, <a href="http://www.netlab.jp/">NaCl</a>, and <a href="http://www.heroku.com/">heroku</a>.
