<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "RubyCI" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Ruby CI</a>
          <div class="nav-collapse">
            <ul class="nav pull-right">
              <li><%= link_to "Current Reports", "/reports" %></li>
              <li><%= link_to "Latest Reports", "/" %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">
        <div class="row">
          <div class="span12">
            <%= yield %>
          </div>
        </div><!--/row-->
      </div><!--/content-->

      <footer>
        <p>
          Powered by
          <%= link_to "chkbuild", "https://github.com/akr/chkbuild" %>,
          <%= link_to "mswin-build", "https://github.com/unak/mswin-build" %> and
          <%= link_to "rubyci", "https://github.com/nurse/rubyci" %>.
        </p>
        <p>
          Supported by
        </p>
        <ul>
          <li><%= link_to "Datacenter OSUOSL", "http://osuosl.org/" %>,</li>
          <li><%= link_to "Heroku, Inc.", "http://www.heroku.com/" %>.</li>
          <li><%= link_to "Fujitsu Limited", "https://www.fujitsu.com/" %>.</li>
        </ul>
        <p>
          Working with <%= RUBY_DESCRIPTION %>
        </p>
      </footer>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
