<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "RubyCI" %></title>
    <%= csrf_meta_tags %>
    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>

    <div class="navbar navbar-expand-md navbar-light fixed-top bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Ruby CI</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ms-auto mb-2 mb-md-0">
            <li class="nav-item"><%= link_to "Current Reports", "/reports", class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "Latest Reports", "/", class: "nav-link" %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container-fluid">
      <div class="content">
        <div class="row">
          <div class="span12">
            <!-- app/views/reports/index.html.erb -->
            <%= yield %>
          </div>
        </div><!--/row-->

        <div class="alert alert-info">
          <div>
            F: <span class="label label-important">failure</span>
            E: <span class="label label-important">error</span>
            S: <span class="label label-info">skip</span>
            failed: <span class="label label-important">critical failures</span>
          </div>
          <div>
            see also <a href="https://rubyci.org/coverage">Code coverage report</a>,
            <a href="http://ci.rvm.jp/">ci.rvm.jp</a>,
            and <a href="http://www.narihiro.info/crubybenci/">CRuby Benchmark CI</a>.
          </div>
        </div>

      </div><!--/content-->

      <footer>
        <p>
          Powered by
          <%= link_to "chkbuild", "https://github.com/akr/chkbuild" %>,
          <%= link_to "mswin-build", "https://github.com/unak/mswin-build" %> and
          <%= link_to "rubyci", "https://github.com/nurse/rubyci" %>.
        </p>
        <p>
          Supported by
        </p>
        <ul>
          <li><%= link_to "Amazon Web Services, Inc.", "https://aws.amazon.com/" %>,</li>
          <li><%= link_to "Heroku, Inc.", "http://www.heroku.com/" %>,</li>
          <li><%= link_to "IBM Corporation", "https://www.ibm.com/" %></li>
        </ul>
        <p>
          Working with <%= RUBY_DESCRIPTION %>
        </p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>
